{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}
    <div class="container card"style="width: 900px;" id="login">

          <div class="pt-0">
            <div class="text-center pt-0 mb-4">
              <h2>Sign in</h2>
            </div>
            {% for message in messages %}
    
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                      {{ message }}
                </div>

            {% endfor %}
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
              <div class="form-row">


                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Username</label>
                        {{ form.login|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Password</label>
                        {{ form.password|add_class:"form-control" }}
                    </div>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                </br>
                                        <div class="col-lg-4 col-md-6"style="padding-top: 30px;">
                                            <button type="submit" class="btn btn-primary btn-block pass-btn">Login</button>
                                        </div>
              </div>
              <div class="login-or">
                <span class="or-line"></span>
                <span class="span-or">or</span>
              </div>
              <a href="{% provider_login_url 'google' %}" class="btn btn-outline-primary btn-block">
                <img src="{% static '/img/google.png'%}" class="img-fluid mr-1" alt="google"> Continue with Google </a>
              <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline-primary btn-block">
                <i class="fab fb-icon fa-facebook-f mr-1"></i> Continue with Facebook </a>
              <div class="text-center member">Already a member? <a href="/accounts/signup">Sign In</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  


{% endblock content %}