{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}



{% block content %}
    <div class="container card " id="register">
          <div class="pt-0">
            <div class="text-center pt-0 mb-4">
              <h2 class="">Create your account</h2>
              <h3 class="">Registration is easy.</h3>
            </div>
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        {{ form.email|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>User name</label>
                        {{ form.username|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Password</label>
                        {{ form.password1|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Password again</label>
                        {{ form.password2|add_class:"form-control" }}
                    </div>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                                        <div class="col-lg-4 col-md-6"style="padding-top: 30px;">
                                            <button type="submit" class="btn btn-primary btn-block pass-btn">Sign up</button>
                                        </div>
              <div class="login-or">
                <span class="or-line"></span>
              </div>
              <a href="{% provider_login_url 'google' %}" class="btn btn-outline-primary btn-block">
                <img src="{% static '/img/google.png'%}" class="img-fluid mr-1" alt="google"> Continue with Google </a>
              <div class="text-center member">Already a member? <a href="accounts/login/">Sign In</a>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}