{% extends 'base.html' %}


{% block content %}
   <div class="tab-content container">
      <div class="tab-pane show active" id="account">
      <div class="row">
         <div class="col-md-12">
            <div class="card-box card flex-fill">
            <div class="card-header">Log In</div>
            <div class="card-body">
               <form action="{% url 'users:login' %}" method="POST">
                     {% csrf_token %}
                  <div class="form-group">
                     <label for="username">Username</label>
                     <input type="text" name="username" class="form-control" required>
                  </div>

                  <div class="form-group">
                     <label for="password2">Password</label>
                     <input type="password" name="password" class="form-control" required>
                  </div>
                  <button type="submit"value="Login"  class="btn btn-primary btn-block pass-btn">Log In</button>
               </form>
               </br></br></br></br>
               <div class="text-center member">Not a member? <a href="{% url 'users:register' %}" class="custom-modal-close">Sign Up</a>

               </div>
            </div>
            </div>
         </div>
      </div>
      </div>
   </div>
{% endblock %}