{% extends 'base.html' %}
{% load mytags %}

{% block content %}
{% show_categories %}
      <section class="section section-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="banner-header">
                <h1 class="mb-0">Find things you'll love. Support independent sellers.</h1>
                <h1 class="text-bold">Only on Freeadverts.</h1>
                <form class="search-form" action="#">
                  <div class="input-group search-box">
                    <input type="text" class="form-control search-input" placeholder="Search for anything" aria-describedby="button-addon2">
                    <div class="input-group-append search-btn">
                      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-gig">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="section-header">
                <h2>What is Freeadverts?</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="gig-item bg-blue">
                <h2>A one-of-a-kind community</h2>
                <p>Freeadverts is a global online marketplace, where people come together to make, sell, buy and collect unique items.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gig-item bg-white">
                <h2>Support independent creators</h2>
                <p>There’s no Freeadverts warehouse – just millions of people selling the things they love. We make the whole process easy, helping you connect directly with makers to find something extraordinary.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gig-item bg-blue">
                <h2>Peace of mind</h2>
                <p>Your privacy is the highest priority of our dedicated team. And if you ever need assistance, we are always ready to step in for support.</p>
              </div>
            </div>
          </div>
          <div class="row">

          </div>
        </div>
      </section>

    {% endblock content %}


