{% extends 'base.html' %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb-bar">
              <div class="page-breadcrumb-list">
                <ul>
                  <li class="breadcrumb-nav">
                    <a href="index.html">All categories</a>
                  </li>
                  <li class="breadcrumb-nav sub-title">( {{ products.count }} products)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row mb-4">
            <div class="col-lg-6">
            {% if products.count < 1 %}
              <div class="page-title">
                <h2>We Have No Products</h2>
              </div>
            {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="filters-section form-style-1">
                <div class="filter-card">
                  <h5 class="mb-3">All products</h5>
                  <ul class="category-list">
                    <li>{{ products.category }}</li>
                    <li>Craft Supplies & Tools</li>
                    <li>Jewellery</li>
                    <li>Art & Collectibles</li>
                  </ul>
                  <a href="#" class="anchor-btn">Show more</a>
                </div>
                <div class="filter-card">
                  <h5 class="mb-3">All categories</h5>
                  <div class="selection-filter">
                    <label class="sort-selection">FREE delivery <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="sort-selection">On sale <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="filter-card">
                  <h5 class="mb-3">Ready to dispatch in</h5>
                  <div class="selection-filter">
                    <label class="sort-selection">1 business day <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="sort-selection">1–3 business days <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="filter-card">
                  <h5 class="mb-3">Price ($)</h5>
                  <div class="selection-filter authentication">
                    <label class="custom-radio mr-2">Any price <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">Under US$ 25 <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">US$ 25 to US$ 50 <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">US$ 50 to US$ 100 <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">Over US$ 100 <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <h5 class="mb-3">Price ($)</h5>
                  <p class="price-range">$1800 - $7800</p>
                  <p class="mb-0">Current Range: $6000</p>
                  <div class="range-slider">
                    <input type="text" class="js-range-slider" value="" />
                  </div>
                </div>
                <div class="filter-card">
                  <h5 class="mb-3">Shop location</h5>
                  <div class="selection-filter authentication">
                    <label class="custom-radio mr-2">Anywhere <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">India <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">Custom> <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <input class="form-control" name="location" type="text" placeholder="Enter location">
                  </div>
                </div>
                <div class="filter-card">
                  <h5 class="mb-3">Item type</h5>
                  <div class="selection-filter authentication">
                    <label class="custom-radio mr-2">All items <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">Handmade <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">Vintage <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="filter-card">
                  <h5 class="mb-3">Ordering options</h5>
                  <div class="selection-filter authentication">
                    <label class="custom-radio mr-2">Accepts NookX gift cards <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">Can be gift-wrapped <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio mr-2">Customisable <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="filter-card">
                  <h5 class="mb-3">Deliver to</h5>
                  <div class="selection-filter">
                    <select class="select">
                      <option disabled selected>Location</option>
                      <option class="sorting">India</option>
                      <option class="sorting">UK</option>
                      <option class="sorting">USA</option>
                      <option class="sorting">France</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="row">
                {% for product in products %}
                <div class="col-lg-4 col-md-6 d-flex flex-wrap">
                  <div class="products-card flex-fill">
                    <div class="products-img">
                      <a href="{% url 'products:listing' product.slug %}">
                        <img src="{{ product.image.0.image.url }}" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="products-body">
                      <h4 class="products-title text-truncate">
                        <a href="{% url 'products:listing' product.slug %}">{{ product.title }}</a>
                      </h4>
                      <p class="product-info">{{ product.category }}</p>
                      <ul class="ratings pb-2">
                        <li class="ratings-count">Number of views({{ product.views }}) </li>
                      </ul>
                      <h5 class="products-price">KSH {{product.price}}</h5>
                      <p class="products-price-offer">
                        {{product.county}}
                      </p>
                      <a href="{% url 'products:listing' product.slug %}" class="prd-btn">More Details</a>
                    </div>
                  </div>
                </div>
                {% endfor %}

                {% if page_obj.paginator.num_pages > 1 %}

                        {% include '_pagination.html' with page_obj=page_obj %}

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}