{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
      <div class="page-content">
        <div class="container">
          <div class="row">
{% block menu %}
            <div class="col-md-3">
              <div class="profile-menu">
                <ul class="profile-links">
                  <li>
                    <a href="#" class="active">Create product</a>
                  </li>
                </ul>
              </div>
            </div>

{% endblock menu %}
            <div class="col-md-9">
              <div class="tab-content">
                <div class="tab-pane show active" id="account">
                  <h4 class="mb-3">Create Product</h4>
                  <div class="row">
                   {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ field.name }} {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <div class="col-md-12">
                        <form enctype="multipart/form-data" class="form-horizontal" method="POST" action="{% url 'products:create_new' %} ">
                        {% csrf_token %}
                            <div class="card-box card flex-fill">
                            <div class="clearfix"></div>
                                <div class="card-header">Product Create Page</div>
                                <div class="card-body">
                                      <div class="form-row">

                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product category</label>
                                                {{ form.category|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product Sub Category</label>
                                                {{ form.Subcategory|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product Brand</label>
                                                {{ form.Brand|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product Make</label>
                                                {{ form.Model|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product County location</label>
                                                {{ form.county|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product County location</label>
                                                {{ form.location|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product Image 1</label>
                                                {{ form.image|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product Image 2</label>
                                                {{ form.image2|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product Image 3</label>
                                                {{ form.image3|add_class:"form-control" }}
                                            </div>
                                        </div>
                                         </br>   
                                        <div class="col-lg-4 col-md-6"style="padding-top: 30px;">
                                            <button type="submit" class="btn btn-primary btn-block pass-btn">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



{% endblock content %}