{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
      <div class="page-content">
        <div class="container">
          <div class="row">
{% block menu %}
            <div class="col-md-3">
              <div class="profile-menu">
                <ul class="profile-links">
                  <li>
                    <a href="#" class="active">Create product</a>
                  </li>
                </ul>
              </div>
            </div>

{% endblock menu %}
            <div class="col-md-9">
              <div class="tab-content">
                <div class="tab-pane show active" id="account">
                  <h4 class="mb-3">Create Product</h4>
                  <div class="row">
                   {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ field.name }} {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <div class="col-md-12">
                        <form enctype="multipart/form-data" class="form-horizontal" method="POST" action="{% url 'products:create_new' %} ">
                        {% csrf_token %}
                            <div class="card-box card flex-fill">
                            <div class="clearfix"></div>
                                <div class="card-header">Product</div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Product Name</label>
                                                {{ form.title|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Description</label>
                                                {{ form.Description|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>category</label>
                                                {{ form.category|add_class:"form-control" }}
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Sub Category</label>
                                                {{ form.Subcategory|add_class:"form-control" }}
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Brand/Make</label>
                                                {{ form.Brand|add_class:"form-control" }}
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Model Number/type</label>
                                                {{ form.Model|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>County</label>
                                                {{ form.county|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Location</label>
                                                {{ form.location|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Price</label>
                                                {{ form.price|add_class:"form-control" }}
                                            </div>
                                        </div>
                                         
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Main Product Image</label>
                                                {{ form.image|add_class:"form-control" }}
                                             </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label> Second Product Image</label>
                                                {{ form.image2|add_class:"form-control" }}
                                             </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                <label>Third Product Image</label>
                                                {{ form.image3|add_class:"form-control" }}
                                             </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <button type="submit" value='Submit' class="btn btn-primary btn-block pass-btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



{% endblock content %}