{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Freeadverts</title>
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/fontawesome.min.css'%}">
  <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/all.min.css'%}">

  <!-- In css/plugins folder  -->
  <link rel="stylesheet" href="{% static '/css/plugins/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static '/css/plugins/perfect-scrollbar.css' %}">
  <link rel="stylesheet" href="{% static '/css/plugins/select2.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/plugins/slick.css' %}">
  <link rel="stylesheet" href="{% static '/css/plugins/jquery-ui.css' %}">


  <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static '/css/style.css'%}">
  
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="https://kit.fontawesome.com/98798dde9e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static '/css/mainc619.css'%}">

  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  {% endblock css %}
  {% block head %}{% endblock head %}
  <!--[if lt IE 9]>
									<script src="assets/js/html5shiv.min.js"></script>
									<script src="assets/js/respond.min.js"></script>
									<![endif]-->
</head>

<body>
  {% block body %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="main-wrapper">
    </ul>
    <header class="header">
      <div class="min-header">
        {% comment %} topnav start {% endcomment %}
        <div class="header-container-top">
          <div class="container">
            <nav class="navbar navbar-expand-lg header-nav">
              <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                  <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </a>
                <a href="{% url 'products:home' %}" class="navbar-brand logo">
                  <img src="{% static '/img/logo.svg' %}" class="img-fluid" alt="Logo">
                </a>
              </div>
              <div class="main-menu-wrapper">
                <div class="menu-header">
                  <a href="{% url 'products:home' %}" class="menu-logo">
                    <img src="{% static 'img/logo.svg' %}" class="img-fluid" alt="Logo">
                  </a>
                  <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
                <ul class="main-nav">
                  <li>
                    <a href="{% url 'products:list' %}">Browse Products</a>
                  </li>

                  <li>
                    <a href="{% url 'products:create_new' %}">Create a product</a>
                  </li>
                  <li>
                    <a href="{% url 'products:Job' %}">Post Your CV</a>
                  </li>

                  {% comment %} authenticated logic {% endcomment %}
                  {% if request.user.is_authenticated %}
                </ul>
              </div>
              <ul class="signup-col">
                <li class="nav-item dropdown has-arrow user-nav">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    <span class="circle-user">
                      <i class="far fa-user"></i>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="{% url 'products:my_listings' %}" class="dropdown-item"> My dashboard </a>
                    <a href="{% url 'products:boost-item' %}" class="dropdown-item"> Boost Products </a>
                    <a href="{% url 'users:logout' %}" class="dropdown-item"> Logout </a>
                  </div>
                </li>

              </ul>
              {% else %}
              <ul class="signup-col">
                <li>
                  <a id='btn-signup' class="btn btn-signup" href="{% url 'users:login' %}">
                    <i class="far fa-user"></i> Sign in
                  </a>
                </li>
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
        {% comment %} topnav end {% endcomment %}
        <div class="header-container-bottom">
          <div class="container">

          </div>
        </div>
      </div>
    </header>

    {% block content %}

    {% endblock content %}
    <footer class="main">
      <section class="newsletter wow fadeIn animated mb-15">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="position-relative newsletter-inner">
                <div class="newsletter-content">
                  <h2 class="mb-20">Stay home & get your daily <br> needs from our shop</h2>
                  <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
                  <form class="form-subcriber d-flex">
                    <input type="email" placeholder="Your emaill address">
                    <button class="btn" type="submit">Subscribe</button>
                  </form>
                </div>
                <img src="{% static '/imgs/banner/banner-13.png' %}" alt="newsletter">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="featured wow fadeIn animated section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
              <div class="banner-left-icon d-flex align-items-center wow fadeIn  animated">
                <div class="banner-icon">
                  <img src="{% static '/imgs/theme/icons/icon-1.svg' %}" alt="">
                </div>
                <div class="banner-text">
                  <h3 class="icon-box-title">Best prices & offers</h3>
                  <p>Orders $50 or more</p>
                </div>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
              <div class="banner-left-icon d-flex align-items-center wow fadeIn  animated">
                <div class="banner-icon">
                  <img src="{% static '/imgs/theme/icons/icon-2.svg' %}" alt="">
                </div>
                <div class="banner-text">
                  <h3 class="icon-box-title">Free delivery</h3>
                  <p>24/7 amazing services</p>
                </div>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
              <div class="banner-left-icon d-flex align-items-center wow fadeIn  animated">
                <div class="banner-icon">
                  <img src="{% static '/imgs/theme/icons/icon-3.svg' %}" alt="">
                </div>
                <div class="banner-text">
                  <h3 class="icon-box-title">Great daily deal</h3>
                  <p>When you sign up</p>
                </div>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
              <div class="banner-left-icon d-flex align-items-center wow fadeIn  animated">
                <div class="banner-icon">
                  <img src="{% static '/imgs/theme/icons/icon-4.svg' %}" alt="">
                </div>
                <div class="banner-text">
                  <h3 class="icon-box-title">Wide assortment</h3>
                  <p>Mega Discounts</p>
                </div>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
              <div class="banner-left-icon d-flex align-items-center wow fadeIn  animated">
                <div class="banner-icon">
                  <img src="{% static '/imgs/theme/icons/icon-5.svg' %}" alt="">
                </div>
                <div class="banner-text">
                  <h3 class="icon-box-title">Easy returns</h3>
                  <p>Within 30 days</p>
                </div>
              </div>
            </div>
            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-none">
              <div class="banner-left-icon d-flex align-items-center wow fadeIn  animated">
                <div class="banner-icon">
                  <img src="{% static '/imgs/theme/icons/icon-6.svg' %}" alt="">
                </div>
                <div class="banner-text">
                  <h3 class="icon-box-title">Safe delivery</h3>
                  <p>Within 30 days</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
          <div class="row">
            <div class="col">
              <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                <div class="logo wow fadeIn animated mb-30">
                  <a href="index-2.html" class="mb-15"><img src="{% static '/imgs/theme/logo.svg' %}" alt="logo"></a>
                  <p class="font-lg text-heading">Awesome grocery store website template</p>
                </div>
                <ul class="contact-infor">
                  <li><img src="{% static '/imgs/theme/icons/icon-location.svg' %}" alt=""><strong>Address: </strong>
                    <span>5171
                      W
                      Campbell Ave undefined Kent, Utah 53127 United States</span>
                  </li>
                  <li><img src="{% static '/imgs/theme/icons/icon-contact.svg' %}" alt=""><strong>Call
                      Us:</strong><span>(+91) -
                      540-025-124553</span></li>
                  <li><img src="{% static '/imgs/theme/icons/icon-email-2.svg' %}"
                      alt=""><strong>Email:</strong><span><a href="cdn-cgi/l/email-protection.html" class="__cf_email__"
                        data-cfemail="b4c7d5d8d1f4fad1c7c09ad7dbd9">[email&#160;protected]</a></span></li>
                  <li><img src="{% static '/imgs/theme/icons/icon-clock.svg' %}"
                      alt=""><strong>Hours:</strong><span>10:00 -
                      18:00,
                      Mon - Sat</span></li>
                </ul>
              </div>
            </div>
            <div class="footer-link-widget col">
              <h4 class="widget-title wow fadeIn animated">Company</h4>
              <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="footer-link-widget col">
              <h4 class="widget-title wow fadeIn animated">Account</h4>
              <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                <li><a href="#">Sign In</a></li>
                <li><a href="#">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help Ticket</a></li>
                <li><a href="#">Shipping Details</a></li>
                <li><a href="#">Compare products</a></li>
              </ul>
            </div>
            <div class="footer-link-widget col">
              <h4 class="widget-title wow fadeIn animated">Corporate</h4>
              <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                <li><a href="#">Become a Vendor</a></li>
                <li><a href="#">Affiliate Program</a></li>
                <li><a href="#">Farm Business</a></li>
                <li><a href="#">Farm Careers</a></li>
                <li><a href="#">Our Suppliers</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Promotions</a></li>
              </ul>
            </div>
            <div class="footer-link-widget col">
              <h4 class="widget-title wow fadeIn animated">Popular</h4>
              <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                <li><a href="#">Milk & Flavoured Milk</a></li>
                <li><a href="#">Butter and Margarine</a></li>
                <li><a href="#">Eggs Substitutes</a></li>
                <li><a href="#">Marmalades</a></li>
                <li><a href="#">Sour Cream and Dips</a></li>
                <li><a href="#">Tea & Kombucha</a></li>
                <li><a href="#">Cheese</a></li>
              </ul>
            </div>
            <div class="footer-link-widget widget-install-app col">
              <h4 class="widget-title wow fadeIn animated">Install App</h4>
              <p class="wow fadeIn animated">From App Store or Google Play</p>
              <div class="download-app wow fadeIn animated">
                <a href="#" class="hover-up mb-sm-2 mb-lg-0"><img class="active"
                    src="{% static '/imgs/theme/app-store.jpg' %}" alt=""></a>
                <a href="#" class="hover-up mb-sm-2"><img src="{% static '/imgs/theme/google-play.jpg' %}" alt=""></a>
              </div>
              <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
              <img class="wow fadeIn animated" src="{% static '/imgs/theme/payment-method.png' %}" alt="">
            </div>
          </div>
        </div>
      </section>
      <div class="container pb-30 wow fadeIn animated">
        <div class="row align-items-center">
          <div class="col-12 mb-30">
            <div class="footer-bottom"></div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <p class="font-sm mb-0">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank"
                href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
          </div>
          <div class="col-xl-4  col-lg-6 text-center d-none d-xl-block">
            <div class="hotline d-lg-inline-flex mr-30">
              <img src="{% static '/imgs/theme/icons/phone-call.svg' %}" alt="hotline">
              <p>1900 - 6666<span>Working 8:00 - 22:00</span></p>
            </div>
            <div class="hotline d-lg-inline-flex">
              <img src="{% static '/imgs/theme/icons/phone-call.svg' %}" alt="hotline">
              <p>1900 - 8888<span>24/7 Support Center</span></p>
            </div>
          </div>
          <div class="col-xl-4  col-lg-6  col-md-6 text-end d-none d-md-block">
            <div class="mobile-social-icon">
              <h6>Follow Us </h6>
              <a href="#"><img src="{% static '/imgs/theme/icons/icon-facebook-white.svg' %}" alt=""></a>
              <a href="#"><img src="{% static '/imgs/theme/icons/icon-twitter-white.svg' %}" alt=""></a>
              <a href="#"><img src="{% static '/imgs/theme/icons/icon-instagram-white.svg' %}" alt=""></a>
              <a href="#"><img src="{% static '/imgs/theme/icons/icon-pinterest-white.svg' %}" alt=""></a>
              <a href="#"><img src="{% static '/imgs/theme/icons/icon-youtube-white.svg' %}" alt=""></a>
            </div>
            <p class="font-sm">Up to 15% discount on your first subscribe</p>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <!-- <script src="{% static '/js/jquery-3.6.0.min.js'%}"></script>
  <script src="{% static '/js/jquery-migrate-3.3.0.min.js'%}"></script>

  <script src="{% static '/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static '/js/slick.js'%}"></script>
  <script src="{% static '/js/wow.js'%}"></script>

  <script src="{% static '/js/owl.carousel.min.js'%}"></script>
  <script src="{% static '/js/script.js'%}"></script>
  <script src="{% static '/js/jquery-ui.js'%}"></script>
  <script src="{% static '/js/waypoint.js'%}"></script>
  <script src="{% static '/js/perfect-scrollbar.js'%}"></script>


  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src="{% static '/js/js/vendor/modernizr-3.6.0.min.js' %}"></script>
  <script src="{% static '/js/js/vendor/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '/js/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
  <script src="{% static '/js/js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/js/plugins/slick.js' %}"></script>
  <script src="{% static '/js/js/plugins/jquery.syotimer.min.js' %}"></script>
  <script src="{% static '/js/js/plugins/wow.js' %}"></script>
  <script src="{% static '/js/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '/js/js/plugins/perfect-scrollbar.js' %}"></script>
  <script src="{% static '/js/js/plugins/magnific-popup.js' %}"></script>
  <script src="{% static '/js/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '/js/js/plugins/waypoints.js' %}"></script>
  <script src="{% static '/js/js/plugins/counterup.js' %}"></script>
  <script src="{% static '/js/js/plugins/jquery.countdown.min.js' %}"></script>
  <script src="{% static '/js/js/plugins/images-loaded.js' %}"></script>
  <script src="{% static '/js/js/plugins/isotope.js' %}"></script>
  <script src="{% static '/js/js/plugins/scrollup.js' %}"></script>
  <script src="{% static '/js/js/plugins/jquery.vticker-min.js' %}"></script>
  <script src="{% static '/js/js/plugins/jquery.theia.sticky.js' %}"></script>
  <script src="{% static '/js/js/plugins/jquery.elevatezoom.js' %}"></script>
  <!-- Template  JS -->
  <script src="{% static '/js/js/main.js' %}"></script>
  <script src="{% static '/js/js/shop.js' %}"></script>
  <!-- <script text="javascript">
    setTimeout(fade_out, 3000);
    function fade_out() {
      $(".messages").fadeOut().empty();
    }
  </script> -->

  {% endblock body %}
  {% load sweetify %}
  {% sweetify %}
</body>

</html>